#billing legend, #shipping legend, #shipping_method legend, #payment legend, #order_details legend, #order_summary legend{
  color: #FFF;
}

p[data-hook="use_billing"]{
  background-color: #000;
}

.progress-steps li.current-first, .progress-steps li.current, .progress-steps li.completed-first:hover, .progress-steps li.completed:hover{
  background-color: red;
}

.progress-steps li{
  color: white;
}

.progress-steps li.completed-first, .progress-steps li.completed{
  color: #FFF;
  background-color: #8C1717;
}

#order_details table tfoot, #order_summary table tfoot{
  color: #FFF;
}