<% unless @product_properties.empty? %>  
  <h6 class="product-section-title"><%= t('properties')%></h6>
  <strong><%= accurate_title %></strong>
  <ul id="product-properties" class="table-display" data-hook width="100%">
      <% for product_property in @product_properties %> 
        <li><strong><%= product_property.property.presentation %></strong>: <%= product_property.value %></li>
      <% end %>
  </ul>
<% end %>
