        <div id="content" class="<%= ((@product) && (current_page?(product_path))) ? 'content-product' : '' %> columns omega <%= !content_for?(:sidebar) ? "sixteen alpha" : "twelve" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>
