body{
  background-color: #000;
}

/**
 * Borders
 **/

#checkout-summary h3, 
table tbody tr, 
table tfoot tr, 
nav#taxonomies .taxonomy-root, 
nav #main-nav-bar, 
footer#footer, 
#billing, 
#shipping, 
#shipping_method, 
#payment, 
#order_details, 
#order_summary, 
#checkout-summary, 
#product-description .product-title{
  border-color: red;
}

/**
 * Color
 **/
body,
h1, h2, h3, h4, h5, h6, 
span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, 
 #checkout-summary table #summary-order-total, 
 #order_details td.price span, 
 #order_details td.total span, 
 #order_summary td.price span, 
 #order_summary td.total span, 
 table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], 
 table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], 
 div[data-hook="inside_cart_form"] #subtotal span.order-total{
  color: #FFF;
}

li{
  color: red;
}

/**
 * Navbar
 **/

a, nav #main-nav-bar li#link-to-cart a.empty, nav #main-nav-bar li#link-to-cart a.full{
  color: #FFF;
  font-weight: normal;
}

a:hover, nav #main-nav-bar li#home-link a:hover, nav #main-nav-bar #link-to-cart a.empty:hover{
  color: red !important;
  font-weight: normal;
}

ul#products li a.info, ul#products li .price, h6{
  color: white;
  font-weight: normal;
}

nav #main-nav-bar li#link-to-cart{
  background: none;
}


/**
 * Inputs
 **/

input[type="submit"]{
  background-color: red;
  border: 1px solid #8C1717;
  font-weight: normal;
}

input[type="submit"]:hover{
  background-color: #8C1717;                                                     
  border: 1px solid #660000;
}

input[type="submit"].large, 
input[type="button"].large, 
input[type="reset"].large, 
button.large, 
a.button.large,
input[type="submit"], 
input[type="button"], 
input[type="reset"], 
button, 
a.button,
input[type="submit"].gray, 
input[type="button"].gray, 
input[type="reset"].gray, 
button.gray, 
a.button.gray{
  background-color: red;
  border: 1px solid #8C1717;
  font-weight: normal;
}  

input[type="submit"].large:hover, 
input[type="button"].large:hover, 
input[type="reset"].large:hover, 
button.large:hover, 
a.button.large:hover,
input[type="submit"]:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
button:hover, 
a.button:hover{
  background-color: #8C1717;                                                     
  border: 1px solid #660000;
}


/**
 * Tables
 **/

table thead{
  background-color: #1C1C1C;
}
 

/**
 * Footer
 **/